{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>  

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <!-- <link rel="stylesheet" href="node_modules/reset.css/reset.css"> -->


      <link rel="stylesheet" href="{% static 'css/home.css' %}">
      <link rel="stylesheet" href="{% static 'css/community.css' %}">

      <link rel="icon" href="favicon.png">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
      
</head>
<body>

    <!-- nav bar starts -->
    <nav >
        <!-- <div class="nav_logo-wrapper">
            <svg class="nav_logo" viewBox="0 0 24 24" aria-hidden="true" class="r-1cvl2hr r-4qtqp9 r-yyyyoo r-16y2uox r-8kz0gk r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp"><g><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg>
        </div> -->
        <a href="{% url 'home' %}">
          <img class="logo" src="{% static 'img/ayurveda design.png'%}">
       </a>
        <!-- --------------------------------        this is for site logo   ----------------------------------------                          -->
       
        <div class="Menu_options active">
            
            <span class="material-icons">home</span>
            <a href="{% url 'home' %}" style="text-decoration: none ;color:black">
            <h2>Home</h2>
            </a>
        </div>

        <div class="Menu_options">
            <span class="material-icons">tag</span>
            <h2>Explore</h2>
        </div>

        <div class="Menu_options">
            <span class="material-icons">group</span>
            <a href="{% url 'community' %}" style="text-decoration: none ;color:black">
            <h2>Community</h2>
        </a>
        </div>

        <div class="Menu_options">
            <span class="material-icons">bookmark</span>
            <h2>Bookmarks</h2>
        </div> 

        <div class="Menu_options">
            <span class="material-icons">person</span>
          <a href="{% url 'profile' user.username %}" style="text-decoration: none ;color:black">
            <h2>Profile</h2>
        </a> 
        </div> 

        <div class="Menu_options">
            <span class="material-icons">book</span>
            <a style="text-decoration: none;color: black;" href="{% url 'ebooks'%}" ><h2>E-Books</h2></a>
        </div> 
       

        <button onclick="togglep()" id ="post-btn"class="tweet_btn">Post</button>


    </nav>
    <!-- nav bar end -->

  
    <!-- main section start -->
    <main>
        <div class="search_input">
            <span class="material-icons aside_search-icon">search</span>
            <input type="text" placeholder="Search">
 
        </div>
        <div class="header" style="display: flex;justify-content: space-between;align-items: flex-end;">
            <h2>Discover Communities</h2>
            <div class="subscribe" >
              <button onclick="togglediv()" class="subscribe-btn " style="width: 8rem; ">Create Community</button>
          </div>
        </div>
        

        <div class="cmt_follower_container">
        
        
            <aside class="widgets">
            <div class="widget follow">
              <div class="title">
                <strong>Who to follow</strong>
               
              </div>
    
              <ul >
                  {% for users in community_users%}
                  <a class="profile"  href="{% url 'communityProfile' users.username %}" >
                  

                    <div class="cmt_profile-image">
                        {% if users.image %}
                        <img  src="{{users.image.url}}" alt="Avatar">
                        {% endif %}
                    </div>
                    <div class="cmt-infollow">

                    <div class="info">
                      <strong >{{users.username}}<div class="username">1k members</div></strong>
                      
                    </div>
                    
                    </div>
                </a>
              {% endfor %}  
              </ul>
    
            </div>
          </aside>
        </div>

    </main>
    <!-- main section end -->

    <!-- aside element start -->
    <aside>



        <div class="aside_container">
            
            <h2 style="margin-top: 1%"><b>Subscribe to our Newsletter</b></h2>
            <p style="color: #333;margin-bottom: -1px;">Email Address</p>
       
        <div class="email_input">
            <span class="material-icons aside_search-icon">email</span>
            <input type="email" placeholder="Email">
 
        </div>

        <div class="subscribe">
            <button class="subscribe-btn">Subscribe</button>
        </div>
    </div>
        
   
        </div>
        
    </aside>
    
    <!-- hidden-edit-profile -->
    <form id="edit-profile-form" style=" box-shadow:1px 1px 10px 1px rgba(0,0,0,0.7);border-radius:30px;background-color:white;height: 440px !important;margin-top: 2rem;margin-left:-2rem;" method="POST"  enctype="multipart/form-data" action="">
      {% csrf_token %}
      <div style="display:flex;justify-content: space-between;">
      <img class="cmt-profile-img"  src="{% static 'img/avatar.png' %}" alt="Uploaded Image">
  
      <div class="upload_file">
      
        <input type="file" id="file_input2" name="image" >
        <label class="label-input" for="file_input2">Edit Image</label>
        </div>
      </div>
    
        <label for="username">Name:</label><br>
        <input class="username-input" type="text" id="username" name="username" ><br>
        
        <label for="bio" style="width:100% ;">About:</label><br>
        <!-- <input  type="text" id="bio" name="bio" placeholder="This is my bio..." style="height: 95px;"><br> -->
        <textarea class="bio-input" id="bio" name="bio" rows="4" cols="50" placeholder="About your community"></textarea><br>
  
        <br>
        
        <button type="submit" class="save-profile-btn">Save</button>
      </form>  
      


    <script src="{% static 'js/community.js' %}"></script>


    
</body>
</html>