{% load static %}


<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/ebooks.css' %}" />
<body>
<div class="section-2">
    <h2>Featured Products</h2>
    <!-- <a href="#"><img src="./images/img_2.jpg" alt=""> -->
    <div class="gallery">
        <div class="image-holder">
            <a href="https://static1.squarespace.com/static/54f737cfe4b02bda0d2c5234/t/54fcb27de4b08f27bc8b9fc4/1428506050737/Ch+1+-10+Everyday+Ayurveda+book.pdf"  target="_blank">
                <img src="{% static 'img/ebook-logo.jpg' %}" alt="img-1">
            </a>
        </div>
        <div class="image-holder">
            <a href = "https://drive.google.com/file/d/1Hr7QgmEANS3QSaAdfEmYzlTYhXfRc-80/view" target="_blank">
                <img src="{% static 'img/profilebackground.jpeg' %}"src=" https://m.media-amazon.com/images/I/81PKNZ6hOWL.jpg" alt="img-2" >
            </a>
        </div>

        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/profilebackground.jpeg' %}" alt="img-3">
            
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/avatar.png' %}" alt="img-4">
            </a>
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/avatar.png' %}"alt="img-5">
            </a>
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/avatar.png' %}" alt="img-6">
            </a>
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/avatar.png' %}" alt="img-7">
            </a>
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/avatar.png' %}" alt="img-8">
            </a>
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/avatar.png' %}" alt="img-9">
            </a>
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/avatar.png' %}" alt="img-10">
            </a>
        </div>

    </body>

    </html>

